@use "../../variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

//* MOBILE FIRST *//

.header{
    background-color: $secondaryBackgroundColor ;
    height: 250px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    .navSideDesktop{
        display: none;
    }
 
    // Titre principale
    .titleSide{
        color: $primaryTitleColor;
        background-color: $secondaryBackgroundColor ;
        font-size: 30px;
        font-weight: 0;
        .headerTitle{
            font-family: "Modak", system-ui;
            font-weight: 400;
            font-style: normal;
            text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
        }
    };

   

    // Boutton Burger Menu 
    .burgerMenuButton{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        border: none;
        background-color: $secondaryBackgroundColor;
        .separator{
            background-color: $primaryTitleColor;
            width: 80%;
            height: 2px;
        }
    }

}

 // Burger Menu
 .navSideMobile{
    position: absolute;
    top: 250px;
    left: 0;
    background-color: $secondaryBackgroundColor;
    width: 100%;
    
    transform: translateY(-250px);
    animation: slideBurgerMenuOpen 0.3s forwards;
    .headerNavList{
        z-index: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        padding: 0;
        list-style: none;
        .headerNavList__item{
            color: $primaryTitleColor;
            width: 100%;
            text-align: center;
            font-size: 30px;
            font-weight: 0;
            font-family: "Modak", system-ui;
            font-weight: 400;
            font-style: normal;
            text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
            border-bottom: solid 1px $primaryTitleColor ;
        }

        .headerNavList__item:hover{
            scale: 1.1;
            transition: ease-in-out 0.2s;
        }

    }
}

@keyframes slideBurgerMenuOpen{
    0% {
        transform: translateY(-250px);
      }
      100% {
        transform: translateY(0);
      
}
}

@keyframes slideBurgerMenuClose{
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-250px);
      
}
}

//* Desktop Version *//

@media (min-width: 1000px){
    .header{
        height: 15dvh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

         // Titre principale
    .titleSide{
        padding-left: 5%;
        width: 50%;
        max-height: 100%;
        color: $primaryTitleColor;
        background-color: $secondaryBackgroundColor ;
        font-size: 2dvw;
        font-weight: 0;
        .headerTitle{
            font-family: "Modak", system-ui;
            font-weight: 400;
            font-style: normal;
            text-shadow: 0px 0.3dvw 1px rgba(0, 0, 0, 0.25);
        }
    };

        .navSideDesktop{
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-flow: row nowrap;
            list-style: none;
            .headerNavList{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                align-items: center;
                gap: 10%;
                padding: 0;
                list-style: none;
                .headerNavList__item{
                    color: $primaryTitleColor;
                    width: 100%;
                    text-align: center;
                    font-size: 2dvw;
                    font-weight: 0;
                    font-family: "Modak", system-ui;
                    font-weight: 400;
                    font-style: normal;
                    text-shadow: 0px 0.3dvw 1px rgba(0, 0, 0, 0.25);
                    transition: ease-in-out 0.2s;
                }

                .headerNavList__item:hover{
                    scale: 1.1;
                    transition: ease-in-out 0.2s;
                }
        
            }
        }

        .burgerMenuButton{
            display: none;
        }

        .navSideMobile{
            display: none;
        }
    }



}